.celulaClicada {
  background-color: rgb(160, 207, 160); /* Cor para célula clicada */
}

.celulaPadrao {
  background-color: rgb(236, 236, 236); /* Cor para célula não clicada */
}

  
.table-container {
  text-align: center; /* Centraliza a tabela */
  padding: 20px; /* Adiciona padding ao redor da tabela */
}

table {
  font-family: 'Times New Roman', Times, serif; /* Define a fonte para Times New Roman */
  margin: auto; /* Centraliza a tabela horizontalmente */
  border-collapse: separate; /* Importante para que o border-radius funcione */
  border-spacing: 0; /* Remove o espaçamento entre as células */
  border-radius: 10px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os cantos arredondados */
}

td {
  padding: 10px; /* Espaçamento interno das células */
  cursor: pointer; /* Cursor como ponteiro para indicar que a célula é clicável */
  /* border: 1px solid black; */
}